body{
    background-image: url("HTML.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    overflow: auto;
    height: auto;
    width: auto;
    text-align:justify;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 5px 10px 5px;
}
#full{
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
.fname{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
    text-align: end;
}
.lname{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
}
#mail{
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
#fname{
    text-align: center;
}
#lname{
    text-align: center;
}
#gender{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
}
#male{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#female{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#birthday{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
}
#suggestion{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
}
#suggest{
    padding: 20px;
    text-align:left;
}
#opt{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
}
#beg,int,exe{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#button{
    
}